.color-table {
    width: 320px;
    height: 160px;
    border: 3px solid #282828;
    background: #282828;
    border-spacing: 5px;
    table-layout: fixed;
}

.color-table-input {
    margin-bottom: 20px;
}

.window {
    width: 320px;
    height: 160px;
    border: 3px solid #282828;
    background: #fff;
    border-spacing: 5px;
}