body {
    background-color: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}

.header {
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.header img {
    display: block;
    width: 318px;
}

.archive {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #ffffff;
}

.article-author {
    width: 50%;
    float: left;
}

.article-created-date {
    text-align: right;
}