<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Public Blog - создать статью</title>
    {% load static %}
    <link rel="stylesheet" href={% static "css/create_post.css" %} />
</head>
<body>

    {% load static %}
    <img src="{% static "img/django-logo.png" %}" alt="Django" />

    <div class="content">
        <h1 class="title">Написать статью</h1>
        <form method="POST">{% csrf_token %}
            <input type="text" name="title" placeholder="Название статьи" value="{{ form.title }}">
            <textarea name="text" placeholder="Текст статьи">{{ form.text }}</textarea>
            <input class="btn-save" type="submit" value="Сохранить">
        </form>
        {{ form.errors }}
    </div>
</body>
</html>